.body_pblbox {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    position: relative;
}

.body_pblbox_l{
    width: 282px;
    /* min-height:200px; */
    /* background-color: aliceblue; */
    flex: 1;
    margin-right: 20px;
}

.body_pblbox_l:nth-child(4) {
    margin-right: 0;
}

.body_pblbox_l:nth-child(2) {
    margin-top: 804px;
}
.body_pblbox_l:nth-child(3) {
    margin-top: 804px;
}
.body_pblbox_l_g {
    width: 100%;
    min-height: 60px;
    /* background-color: aqua; */
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, .05);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    top: 0;
    transition: all .3s;
    margin-bottom: 20px;
}

.body_pblbox_l_g:hover {
    top: -3px;
    box-shadow: 0 4px 22px 0 rgba(0, 0, 0, .2);
}
.body_pblbox_l_g:hover  .body_pblbox_l_g_sc{
    opacity: 1;
}
.body_pblbox_l_g_tp {
    display: block;
}

.body_pblbox_l_g_tp img {
    width: 100%;
    display: block;
}

.body_pblbox_l_g_sc {
    width: 50px;
    height: 100px;
    /* background-color: rgb(250, 235, 215); */
    position: absolute;
    top: 10px;
    right: 10px;
    transition: all .3s;
    opacity: 0;
}
.body_pblbox_l_g_sc>span{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #f46;
    margin-bottom: 10px;
    padding-top: 9px;
    box-sizing: border-box;
}
.body_pblbox_l_g_sc>span>img{
    width: 34px;
    height: 34px;
    display: block;
    margin: auto;
}
.body_pblbox_l_g_wz{
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.596), rgba(0, 0, 0, 0));
    color: white;
    font-size: 14px;
    padding: 14px;
    box-sizing: border-box;
    font-weight: 100;
    line-height: 17px;
    transition: all .3s;
    opacity: 0;
}
.body_pblbox_l_g:hover  .body_pblbox_l_g_wz{
    opacity: 1;
}

.body_pblbox_lb{
    width: 590px;
    height: 784px;
    background:url("img/181222_6gc4e51ge6d20ki8j6lfk68kej5aa_588x784.jpg") no-repeat;
    background-size: cover;
    position: absolute;
    left: 304px;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, .05);
    border-radius: 10px;
    overflow: hidden;
}